<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bcb197">  <td>18/11/01 22:28:49</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:TestCases.MergeLead@5383967b]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@1857815974</td>   <td></td> </tr>
<tr bgcolor="9fad9d">  <td>18/11/01 22:28:51</td>   <td>2181</td> <td title="&lt;&lt;Reports.endResult()[pri:0, instance:TestCases.MergeLead@5383967b]">&lt;&lt;endResult</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1857815974</td>   <td></td> </tr>
<tr bgcolor="bcb197">  <td>18/11/01 22:28:09</td>   <td>-39656</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login()[pri:0, instance:TestCases.MergeLead@5383967b]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@1857815974</td>   <td></td> </tr>
<tr bgcolor="9b7d71">  <td>18/11/01 22:28:16</td>   <td>-32885</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MergeLead.mergeLead(java.lang.String, java.lang.String)[pri:0, instance:TestCases.MergeLead@5383967b]">mergeLead</td> 
  <td>main@1857815974</td>   <td></td> </tr>
<tr bgcolor="9b7d71">  <td>18/11/01 22:28:08</td>   <td>-40289</td> <td>&nbsp;</td><td title="&gt;&gt;MergeLead.setData()[pri:0, instance:TestCases.MergeLead@5383967b]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1857815974</td>   <td></td> </tr>
<tr bgcolor="9fad9d">  <td>18/11/01 22:28:08</td>   <td>-40474</td> <td title="&gt;&gt;Reports.startResult()[pri:0, instance:TestCases.MergeLead@5383967b]">&gt;&gt;startResult</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1857815974</td>   <td></td> </tr>
</table>
